# example.env
# This file is for local docker-compose configuration.
# It is based on terraform/terraform.tfvars.example.
# For local development, rename this file to .env and fill in the values.

# Required
# Corresponds to 'postgres_admin_password' in terraform.tfvars
POSTGRES_PASSWORD=""

# Corresponds to 'jwt_key' in terraform.tfvars
JWT_KEY=""

# Optional JWT settings (defaults are in docker-compose.yaml)
# Corresponds to 'jwt_issuer' in terraform.tfvars
# JWT_ISSUER="FinanceTracker"
# Corresponds to 'jwt_audience' in terraform.tfvars
# JWT_AUDIENCE="FinanceTrackerAPI"
#-- General -----------------------------------
ASPNETCORE_ENVIRONMENT=Development

#-- Backend Settings --------------------------
# ASP.NET Core URLs
BACKEND_INTERNAL_URL=http://backend:5258
# CORS Origin
FRONTEND_URL=http://localhost:4200

#-- Database Settings -------------------------
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=FinanceTrackerDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

#-- JWT Settings ------------------------------
JWT_KEY=
JWT_ISSUER=FinanceTrackerApi
JWT_AUDIENCE=FinanceTrackerClient
